.selectTest {
    padding: 0.3rem 3rem 1rem 3rem;
    margin: 0.5rem 3rem;
    text-align: left;

    box-shadow: 5px 5px 5px black;
    background-color: #202020;
    color: white;
}

.testQuestions {
    padding: 0 0 1rem 0;
    margin: 0.5rem 3rem;

    box-shadow: 5px 5px 5px #050505;
    background-color: #202020;
}

.finalScore {
    margin: 2rem auto;
}

.quizStart {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
}

label {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0.3rem 0 0.3rem 0.3rem;
    display: block;
    background-color: #1C1C1C;
    box-shadow: 2px 2px 4px #050505;
}

select {
    margin: 1rem 0 2rem 0;
    height: 2.5rem;
    width: 14rem;

    color: white;
    background-color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    border: none;
}

button {
    margin: 0 auto 0 auto;
    display: block;
    padding: 0.5rem 0;

    border: none;
    width: 8rem;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;

    background-color: #1C1C1C;
    box-shadow: 2px 2px 4px #050505;
    color: white;
}
